# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# credentials
server.cert
server.crt
server.key
/.well-known/pki-validation/98724E85C0FCF6197B81F73E5CE9D7C9.txt
